@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* outline: 1px solid red; */
}

body {
  scroll-behavior: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  /* height: 100vh; */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #140d27;
  color: white;
  font-family: "Montserrat", sans-serif;
}

body::-webkit-scrollbar {
  @apply w-1 bg-transparent;
}

body::-webkit-scrollbar-corner {
  @apply bg-transparent;
}

body::-webkit-scrollbar-track {
  @apply bg-white;
}

body::-webkit-scrollbar-track-piece {
  @apply bg-transparent;
}

body::-webkit-scrollbar-thumb {
  @apply transition-all duration-500 rounded-full bg-black/60 hover:bg-black/40;
}

html {
  scrollbar-color: rgb(0, 0, 0, 0.4) rgb(0, 0, 0, 0);
  scrollbar-width: thin;
}

@font-face {
  font-family: clash;
  src: url("./assets/fonts/clash/ClashDisplay-Regular.otf") format("opentype");
}
@font-face {
  font-family: clashBold;
  src: url("./assets/fonts/clash/ClashDisplay-Semibold.otf") format("opentype");
}
@font-face {
  font-family: TommyOutline;
  src: url("./assets/fonts/tommy/TommyOutline.otf") format("opentype");
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
  background-color: transparent !important;
}

.timeline-gradient-circle {
  background: linear-gradient(270deg, #903aff 0%, #d434fe 100%);
}

.bronze-medal-gradient {
  background: linear-gradient(0deg, #d434fe, #d434fe),
    linear-gradient(0deg, rgba(212, 52, 254, 0.12), rgba(212, 52, 254, 0.12));
}
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
